*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardlogin{
    width: 400px;
    height: fit-content;
    border: 1px solid #000;
    padding: 20px;
    justify-content: center;
}

.buttons{
    display: flex;
    justify-content: space-between;
}
